<section class="acerca de mi pt-5">
    <div class="container text-center text-white">
      <div class="row">
        <div class="col-3">
          <img src="../../../assets/perfil.jpg" class="rounded-circle" width="80%"  alt="perfil">
        </div>
        <div class="col-6">
          <h3>
            Acerca de mi
          </h3>
          <p>
            Me llamo Orlando Daniel Mereles, soy desarrollador web full stack jr radicado en Argentina. Soy un apasionado por el mundo de la programacion.
          </p>
        </div>
      </div>
    </div>
  </section>
