<section class="educacion mt-5">
    <div class="container text-center text text-white">
      <div class="row">
        <div class="col-6">
          <h3>
            Educacion
          </h3>
          <p>
            Estudie en la escuela primaria N°61 "Don Felix Ergasto Ramirez"<br>Hice la escuela secundaria en la E.P.E.S N°19 "Vuelta de Obligado"<br>Actualmente, estudio la carrera de Profesorado de Educaucion Secundaria en Fisica, en el ISFDC y T de Laguna Naineck."
          </p>
          <p>
            Tambien realice los siguientes cursos:<br>
            Diseño Web responsive - HTML5 - CSS3<br>
            Programacion Web con JavaScript<br>
            Ambos cursos, dictados por la Universidad Tecnologica Nacional - Facultad Regional Resisitencia.
          </p>
        </div>
      </div>
    </div>
  </section>
