.navbar.navbar-expand-lg.bg-secondary {
    width: 100%;
    height: 75px;
}
.img-fluid {
    width: 100%;
    height: 500px;
}
.list-group {
    --bs-list-group-color: white;
    --bs-list-group-action-color: none;
}
.list-group-item {
    --bs-list-group-bg: transparent;
    --bs-list-group-action-hover-bg: none;
    --bs-list-group-action-active-bg: none;
    border: 0;
}
.fa-brands.fa-instagram.fa-2x:hover {
    color: fuchsia;
}
.fa-brands.fa-twitter.fa-2x:hover {
    color: deepskyblue;
}
.fa-brands.fa-facebook.fa-2x:hover {
    color: blue;
}
.fa-brands.fa-github.fa-2x:hover {
    color: brown;
}
